<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Recipes!</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if signed_in? %>
        <li class="nav-item">
          <%= link_to "My Foods", foods_path, method: :get, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to "My Recipes", recipes_path, method: :get, class: 'nav-link' %>
        </li>

        <li class="nav-item">
          <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: 'nav-link' %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Sign Up", new_user_registration_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to "Sign In", new_user_session_path, class: 'nav-link' %>
        </li>

      <% end %>
      <li class="nav-item">
        <%= link_to "Public Recipes", public_recipes_path, method: :get, class: 'nav-link' %>
      </li>
    </ul>
  </div>
</nav>
