<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if signed_in? %>
        <div class="d-flex">
          <li class="nav-item">
            <span class="nav-link text-success">Welcome! <%= current_user.name%></span>
          </li>

          <li class="nav-item">
            <%= link_to "My Foods" , foods_path, method: :get, class:"nav-link link-secondary" %>
          </li>

          <li class="nav-item">
            <%= link_to "My Recipes" , recipes_path, method: :get, class: "nav-link link-secondary" %>
          </li>

          <li class="nav-item">
            <%= link_to "Public Recipes" , public_recipes_path, method: :get, class:"nav-link link-secondary" %>
          </li>
        </div>

        <li class="nav-item">
          <%= link_to "Sign Out" , destroy_user_session_path, method: :delete, class:"nav-link link-secondary" %>
        </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Sign Up" , new_user_registration_path, class:"nav-link link-secondary" %>
          </li>

          <li class="nav-item">
            <%= link_to "Sign In" , new_user_session_path, class:"nav-link link-secondary" %>
          </li>
          <% end %>
    </ul>
  </div>
</nav>
